body {
    background-color:black;
    font: arial;
    color:white;
}
h1{
    color:grey;
    font: verdana; 
    text-align: left;   
}
.maindiv{
    background-color: white;
    color:blue;
    width: 400px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
    text-align: center
}

